body {
  background-color: blanchedalmond;
  margin: 0;
  padding: 0;
}

h1 {
  color: red;
}

.redTitle {
  background-color: blueviolet;
  color: white;
  padding: 15px;
  border: 2px solid seagreen;
}

.title {
  background-color: black;
  color: white;
}